---
import Head from "../layouts/BaseLayout.astro"
---

<Head
  title="Minerva Studio - Expert Branding, Logo Design, and Web Solutions"
  description="Minerva Studio delivers premium branding, logo design, and web solutions to elevate your business. Our expert team creates impactful brand identities and stunning websites that drive success."
  canonicalURL="https://minervastudio.co/"
  ogTitle="Minerva Studio"
  ogImage="/"
>
  <main>
    <nav></nav>

    <h1 style="height: 50vh;">
      Why Not to <span class="text-gradient">Minerva Studio</span>
    </h1>
    <h1 style="height: 50vh;">One</h1>
    <a style="height: 50vh;" href="/test">test link</a>
    <h1 style="height: 50vh;">three</h1>
    <h1 style="height: 50vh;">four</h1>
    <h1 style="height: 50vh;">five</h1>
    <h1 style="height: 50vh;">six</h1>
    <h1 style="height: 50vh;">seven</h1>
    <p>This project is being worked on and is coming soon...</p>
  </main>
</Head>
