---
import Head from "../layouts/BaseLayout.astro"
import BreakTextLines from "../components/BreakTextLines.astro"
import BreakTextChars from "../components/BreakTextChars.astro"
---

<Head
  title="Minerva Studio - All eyes on your brand"
  description="Minerva Studio delivers premium branding, logo design, and web solutions to elevate your business. Our expert team creates impactful brand identities and stunning websites that drive success."
  canonicalURL="https://minervastudio.co/"
  ogTitle="Minerva Studio"
  ogImage="/"
>
  <main>
    <nav></nav>

    <BreakTextLines>
        <h1 style="margin-bottom: 2vh;">
          All Eyes on Your ‌
          <BreakTextChars
            words={[
              "Brand",
              "Logo",
              "Catalog",
              "Brochure",
              "Website",
              "Billboard",
              "Info-Card",
              "Merchandise",
              "Teaser",
              "Mascot",
              "Brand",
            ]}
      
          />
        </h1>
      </BreakTextLines>



      <!-- <h3>
        ABBAS
        <BreakTextChars words={["alo", "jeksi"]}></BreakTextChars>
      </h3> -->
    <!-- <p>
        Minerva Studio delivers premium branding, logo design, and web solutions
        to elevate your business. Our expert team creates impactful brand
        identities and stunning websites that drive success.
      </p> -->
  </main>
  <style></style>
</Head>
