---
import Head from "../common/head.astro"
---

<Head
  title="Minerva Studio - Expert Branding, Logo Design, and Web Solutions"
  description="Minerva Studio delivers premium branding, logo design, and web solutions to elevate your business. Our expert team creates impactful brand identities and stunning websites that drive success."
  canonicalURL = "https://minervastudio.co/"
  ogTitle="Minerva Studio"
  ogImage="/"
>
  <main>
    <nav></nav>

    <h1>
      Welcome to <span class="text-gradient">Minerva Studio</span>
    </h1>
    <p>
      This project is being worked on and is coming soon...
    </p>
  </main>
</Head>
