---
import Head from "../layouts/BaseLayout.astro"
import BreakTextLines from "../components/BreakTextLines.astro"
import BreakTextChars from "../components/BreakTextChars.astro"
---

<Head
  title="Minerva Studio | All Eyes on Your Brand"
  description="Minerva Studio delivers premium branding, logo design, and web solutions to elevate your business. Our expert team creates impactful brand identities and stunning websites that drive success."
  canonicalURL="https://minervastudio.co/"
  ogTitle="Minerva Studio"
  ogImage="/assets/og/homepage-og.jpg"
>
  <main>
    <nav></nav>

    <div class="under-construction">
      <img src="/assets/under-contstruction.png">
      <BreakTextLines>
        <h1>Under Construction</h1>
      </BreakTextLines>


    </div>

    <!-- <BreakTextLines>
        <h1 style="margin-bottom: 2vh;">
          All Eyes on Your ‌
          <BreakTextChars
            words={[
              "Brand",
              "Logo",
              "Catalog",
              "Brochure",
              "Website",
              "Billboard",
              "Info-Card",
              "Merchandise",
              "Teaser",
              "Mascot",
              "Brand",
            ]}
      
          />
        </h1>
      </BreakTextLines> -->

  </main>
  <style>

    .under-construction {
      overflow: hidden;
      display: flex;
      position: relative;
      justify-content: center;
    }

    .under-construction img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    }

    :global(.under-construction #LineSplit) {
      position: absolute;
      bottom: 15%;
    }
  </style>
</Head>
