---
interface Props {
  fontSize: string
}

const { fontSize } = Astro.props
---

<div id="LineSplitWrapper" >
  <div id="LineSplit" class={fontSize}>
    <slot  />
  </div>
</div>

<style>
  #LineSplitWrapper {
    overflow: hidden;
  }
</style>
