:root {
  accent-color: var(--accent-500);
  color-scheme: dark;
}

*,
::before,
::after {
  box-sizing: border-box;
}

::selection {
  background: var(--accent-500);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  touch-action: pan-y;
  background: var(--background-800);
  min-height: 100svh;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
