:root {
    font-size: clamp(14px, calc(14px + max(0.26666vw, 0.149vh)), 18px);
  }
  
  @font-face {
    font-family: Pelak;
    src: url("/assets/fonts/Pelak-100.ttf");
    font-weight: 100;
  }
  
  @font-face {
    font-family: Pelak;
    src: url("/assets/fonts/Pelak-200.ttf");
    font-weight: 200;
  }
  
  @font-face {
    font-family: Pelak;
    src: url("/assets/fonts/Pelak-300.ttf");
    font-weight: 300;
  }
  
  @font-face {
    font-family: Pelak;
    src: url("/assets/fonts/Pelak-400.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: Pelak;
    src: url("/assets/fonts/Pelak-500.ttf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: Pelak;
    src: url("/assets/fonts/Pelak-600.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: Pelak;
    src: url("/assets/fonts/Pelak-700.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: Pelak;
    src: url("/assets/fonts/Pelak-800.ttf");
    font-weight: 800;
  }
  
  * {
    direction: ltr;
    color: var(--text-100);
    font-family: Pelak;
    -webkit-font-smoothing: antialiased;
    word-spacing: calc(-0.02 * 1em);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-weight: 600;
    line-height: calc(1.35 * 1em);
    letter-spacing: calc(-0.015 * 1em);
  }
  
  p {
    text-wrap: pretty;
    max-width: 75ch;
    line-height: calc(1.65 * 1em);
    letter-spacing: calc(0.008 * 1em);
  }
  
  a {
    text-decoration: none;
  }
  
  h1 {
    font-size: clamp(3.052rem, 3.43vw, 3.391rem);
  }
  
  h2 {
    font-size: clamp(2.441rem, 2.74vw, 2.712rem);
  }
  
  h3 {
    font-size: clamp(1.953rem, 2.19vw, 2.17rem);
  }
  
  h4 {
    font-size: clamp(1.563rem, 1.75vw, 1.736rem);
  }
  
  h5 {
    font-size: clamp(1.25rem, 1.4vw, 1.388rem);
  }
  
  small {
    word-spacing: -0.5px;
    font-weight: 300;
    font-size: min(3.3vw, 14px);
  }
  
  b {
    font-weight: 600;
    cursor: default;
  }
  
  b:has(a):hover {
    cursor: pointer;
  }
  
  b:hover > a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  
  @media (max-width: 1000px) {
    h1 {
      font-size: calc(0.75 * clamp(3.052rem, 3.43vw, 3.391rem));
    }
  
    h2 {
      font-size: calc(0.75 * clamp(2.441rem, 2.74vw, 2.712rem));
    }
  
    h3 {
      font-size: calc(0.75 * clamp(1.953rem, 2.19vw, 2.17rem));
    }
  
    h4 {
      font-size: calc(0.75 * clamp(1.563rem, 1.75vw, 1.736rem));
    }
  
    h5 {
      font-size: calc(0.75 * clamp(1.25rem, 1.4vw, 1.388rem));
    }
  
    p {
      max-width: unset;
    }
  }
  