:root {
    --accent-50: #dbfffb;
    --accent-100: #9efff5;
    --accent-200: #00fae4;
    --accent-300: #05e0d3;
    --accent-400: #13c3bd;
    --accent-500: #00a8a5;
    --accent-600: #008e8f;
    --accent-700: #027274;
    --accent-800: #075c5f;
    --accent-900: #0b4f50;
    --accent-950: #002f33;


    --background-500: #002f33;
    --background-600: #002529;
    --background-700: #001d21;
    --background-800: #02171a;
    --background-900: #031315;
    --background-950: #000b0d;
}
